@import "tailwindcss";

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
  transform-origin: center
}

.bg-blue-custom {
  background-color: rgb(203, 223, 225); /* #cbdfe1 */
}

.bg-orange-custom {
  background-color: rgb(243, 199, 181); /* #f3c7b5 */
}

.bg-green-custom {
  background-color: rgb(152, 199, 157); /* #98c79d */
}

.bg-yellow-custom {
  background-color: rgb(236, 203, 157); /* #eccb9d */
}

.bg-red-custom {
  background-color: rgb(247, 165, 146); /* #f7a592 */
}
